{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-3">
    <h2> Your profile </h2>
    <hr>
    <h3> Name: {{user.username| capitalize}} </h3>
  </div>

  <!--Display blogs if user is a writer-->
      {% if user.usertype == "Writer" %}
        <div class="col-md-9">
          <h2> Your blog posts </h2>
          <hr>
              {% for p in blogs %}
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 review-card">
                  <p style="font-weight: bold"> Title </p>
                  <p> {{ p.blog_title}} </p>
                  <p style="font-weight: bold"> Category </p>
                  <p> {{p.blog_category}}</p>
                  <p style="font-weight: bold"> Content </p>
                  <p>  {{ p.blog_content }}</p>
                  <p> <a href="#"> View & manage blog information </a> </p>
                  <hr>
              </div>
              {% endfor %}
          {%else%}
          {% if user.usertype == "Writer" %}
            <p>Either you have no blog posts, or an error occured</p>
          {%else%}
            <p>If you were a writer, this page would be filled with your blog posts</p>
          {% endif %}
        </div>
    {% endif %}
</div>
</div>
{% endblock %}
